<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About YouTube</title>
</head>
<body>
  <div class="container">
    <h1>About YouTube</h1>
    <img src="assets\yt-small.png" alt="Company Team">
    <div class="content">
      <p>YouTube, a social media platform and website for sharing videos, was registered on February 14, 2005, by Steve Chen, Chad Hurley, and Jawed Karim, three former employees of the American e-commerce company PayPal. They had the idea that ordinary people would enjoy sharing their “home videos.” The company is headquartered in San Bruno, California.</p>
      <p>YouTube is a video-sharing platform where users can watch, like, share, comment, and upload their own videos.</p>
      <p>Founded in February 2005 by former PayPal employees, YouTube was acquired by Google in November 2006 for $1.65 billion.</p>
      <p>Today, YouTube is one of the most popular websites on the internet, with billions of users and a wide variety of content ranging from educational videos to entertainment.</p>
    </div>
  </div>
</body>
</html>
