<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Aiman Matin</title>
</head>
<body>
  <div class="container">
    <h1>About Aiman Matin</h1>
    <div class="content">
      <img class="aiman" src="assets\amn-small.jpg" alt="Aiman Matin">
      <p>Welcome to my corner of the web! </p>
      <p>I'm Aiman Matin, a passionate cybersecurity enthusiast currently pursuing my degree in the field. When I'm not immersed in the world of cybersecurity, you can often find me indulging in one of my favorite hobbies: watching YouTube.</p>
      <p>I have a deep love for music, and nothing beats the feeling of discovering new tunes or revisiting old favorites. But beyond that, YouTube holds a special place in my heart. YouTube is where I go to unwind and expand my horizons.</p>
      <p>I have a deep love for music, and nothing beats the feeling of discovering new tunes or revisiting old favorites. But beyond that, YouTube holds a special place in my heart. YouTube is where I go to unwind and expand my horizons.</p>
    </div>
  </div>
</body>
</html>
